
{{extend 'layout.html'}}
<h1>Welcome to TeamBuilder!</h1>
<p>TeamBuilder is a website designed to help facilitate building group
projects and letting students, employees, and freelancers create a
peer-reviewed
profile of important skills.</p>
{{if auth.user:}} {{=A('Contacts',
_href=URL('default','contacts'),_class='btn')}}
{{=A('Skillset', _href=URL('default', 'skillset'),_class='btn')}}
{{=A('Projects', _href=URL('default', 'projects'),_class='btn')}}
{{=A('Reviews', _href=URL('default', 'reviews'),_class='btn')}}
{{else:}}
To get started, please log in.
{{pass}}
