{{extend 'layout.html'}}
<h1>Welcome to TeamBuilder!</h1>
<p>TeamBuilder is a website designed to help facilitate building group
projects and letting students, employees, and freelancers create a
peer-reviewed
profile of important skills.</p>
{{if auth.user:}} {{=A('Browse Users',
_href=URL('browse','browse_users'),_class='btn')}}
{{=A('Browse Projects', _href=URL('browse','browse_projects'),_class='btn')}}
{{=A('Skillset', _href=URL('skillset', 'index'),_class='btn')}}
{{=A('Projects', _href=URL('projects', 'index'),_class='btn')}}
{{=A('Reviews', _href=URL('reviews', 'index'),_class='btn')}}
{{else:}}
To get started, please log in.
{{pass}}