<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title></title>

  
</head><body>
{{extend 'layout.html'}}
<h1>Skillset Menu</h1>
<p>Here you will be able to build a list of skills in various fields. These skills can be chosen from a drop-down box or written in (though new skills have to be approved by an admin before they'll appear publicly).</p>
<p>Once you have your skillset, you can rank yourself in each of your skills, depending on how good you think you are at it. Initially, you can only choose "Learning/Rusty" or "Proficient," but more ranks will become available as your contacts give you positive reviews.</p>
<p>Your rank determines the impact of each new review on your score, both positive and negative. So only promote yourself if you're confident your peers will agree with the new position.</p>
</body></html>